<div class="card">
	<div class="card-header">
		{{pageTitle}}
	</div>
	<div class="card-body">
		<div class="container-fluid">
			<div class="text-center">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" width="250" height="250">
      </div>

				<div class="text-center">Developed by:</div>
				<div class="text-center">
					<h3>Srikanth Rachala</h3>
				</div>

				<div class="text-center">@srikanthrachala</div>
				<div class="text-center">
					<a href="https://github.com/srikanthrachala/angular-sandbox">angular-sandbox</a>
				</div>
			</div>
		</div>
	</div>